@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@keyframes bg-slide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.animate-bg-slide {
  animation: bg-slide 100s linear infinite; /* Adjust duration as needed */
}
